PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/peezuhub?retryWrites=true&w=majority&appName=PeezuHub
JWT_SECRET=change_me_to_a_long_random_secret
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=peezutech@gmail.com
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxx
COURIER_API_KEY=pk_prod_or_test_from_courier_dashboard
COURIER_FROM_EMAIL=PeezuHub <peezutech@gmail.com>
COURIER_REPLY_TO=peezutech@gmail.com
